:root {
    /* Primary Colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients Colors */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --pale_blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--white);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    box-shadow: 1rem 1rem 3rem var(--pale_blue);
    border-radius: 20px;
}

.left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 50%;
    border-radius: 20px;
    background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    padding: 4vh;
}

.score-title {
    color: var(--light-lavender);
    font-weight: 700;
    padding-bottom: 2vh;
}

.score-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23vh;
    height: 23vh;
    border-radius: 50%;
    background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
}

.big-points {
    color: var(--white);
    font-size: 45px;
    font-weight: 700;
}

.small-points{
    font-size: 13px;
    font-weight: 700;
    color: var(--light-lavender);
}
.great-text {
    font-size: 25px;
}

.description {
    font-size: 15px;
    text-align: center;
    width: 32vh;
    color: var(--light-lavender);
}

.right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 50%;
    border-radius: 20px;
    color: black;
    padding: 4vh;
}

.summary-text{
    padding-bottom: 2vh;
    font-size: 20px;
    font-weight: 800;
}

.hability-pack {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
    font-size: 15px;
}

.skill{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.text-image {
    display: flex;
    gap: 0.4rem;
    font-weight: 700;
}

#reaction {
    color: var(--light-red);
    background-color: hsla(0, 100%, 67%, 0.05);
}
#memory {
    color: var(--orangey-yellow);
    background-color: hsla(39, 100%, 56%, 0.05);

}
#verbal {
    color: var(--green-teal);
    background-color: hsla(166, 100%, 37%, 0.05);

}
#visual {
    color: var(--cobalt-blue);
    background-color: hsla(234, 85%, 45%,0.05);

}

.numbers{
    color: grey;
    font-weight: 700;
}

span{
    color: black;
}

.button {
    text-decoration: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    margin-top: 2vh;
    height: 7vh;
    color: var(--white);
    background-color: var(--dark-gray-blue);
    border-radius:1.5rem;
}

.button:hover{
    cursor: pointer;
    background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

/* Media Queries */
@media (max-width: 600px) {
    body{
        width: 100%;
    }

    .container {
        flex-direction: column;
        width: 100vw;
        margin-top: 4rem;
    }
    .left-div{
        width: 100%;
        border-radius: 0 0 5rem 5rem;
    }
    .description{
        width: 70%;
    }
    .right-div{
        width: 80%;
    }


}